.formacao {
  background: #141414;
  color: #fff;
  max-width: 100%;
  position: relative;
}

.formacao_container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin-top: 50px;
}

.formacao::after {
  content: "";
  width: 130px;
  height: 100px;
  background: url("../Imagens/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 30px;
}

.formacao_container .subtitulo {
  color: black;
  max-width: 5ch;
}

.formacao_texto {
  font-size: 1.5rem;
  line-height: 1.3;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao_texto strong {
  color: #fff;
}

.formacao_lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}

.faculdade {
  background: #000;
  padding: 20px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.faculdade_tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade_curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade_curso::before {
  height: 1.2rem;
  width: 0.2rem;
  content: "";
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -1.5rem;
}

.faculdade_instituicao {
  font-size: 0.875rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao_extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao_extra h3::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: -36px;
  top: -4px;
  display: block;
}

.cursos h3::before {
  background: url("../Imagens/cursos.svg") no-repeat center;
}

.idiomas h3::before {
  background: url("../Imagens/idiomas.svg") no-repeat center;
}

.formacao_extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao_extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .formacao_container {
    grid-template-columns: 1fr 2.25fr;
  }

  .formacao_container .subtitulo {
    font-size: 7rem;
  }
}

@media (max-width: 800px) {
  .formacao::after {
    position: absolute;
    height: 10px;
    width: 30px;
    background: url("../Imagens/detalhe.svg") no-repeat center;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
  }

  .formacao_container {
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .formacao_container .subtitulo {
    word-break: normal;
    max-width: 100%;
    font-size: 6rem;
  }

  .formacao_texto {
    max-width: 50ch;
    text-align: center;
    margin-bottom: 40px;
  }

  .faculdade_curso {
    margin-bottom: 25px;
  }

  .formacao_extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  .cursos {
    margin-bottom: 45px;
  }
}

@media (max-width: 650px) {
  .formacao_container .subtitulo {
    font-size: 4rem;
  }

  .formacao_texto {
    font-size: 1.15rem;
    justify-self: center;
  }

  .faculdade_curso {
    font-size: 1rem;
  }

  .formacao_extra h3 {
    margin-bottom: 10px;
  }

  .formacao_extra li {
    font-size: 1rem;
  }
}

@media (max-width: 410px) {
  .formacao_container .subtitulo {
    font-size: 2.75rem;
  }

  .formacao_texto {
    max-width: 40ch;
  }
}
