body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

strong {
  color: #141414;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  max-width: 4ch;
}
